@charset "UTF-8";

body{font-family: 맑은고딕; font: size 17px;}
h2{font-size: 25px;}
h3{font-size: 20px;}

h1{font-family: 궁서체; font-size: 30px; letter-spacing: 15px;}

.itl{font-style: italic;}
.bd{font-weight: bold;}

.rd{color:#ff0000;}
.gr{color:#00ff00;}
.bl{color:#0000ff;}

.unl{text-decoration: underline;}

.ul{list-style-type: square;}
ol{list-style-type: none;}

.pline{text-indent: 30px;}
.divbcl{background-color: #D9D9D9;}
.rbcl{background-color: #EDD3ED;}
.bbcl{background-color: #C8EBFA;}

.trr{text-align: right;}

.bf::before{content: "약 ";}
.af::after{content: " (MB/초)";}

.lk:active{color: #0000ff;}
.bb{color:#000000; text-decoration: none;}
.ov:hover{color:#0000ff; text-decoration: underline;}
.ac:active{color:#0000ff; text-decoration: underline;}