<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>mysite</title>
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/board.css">
    </head>
    <body>
        <div class="wrap">
            <div id="header" class="clearfix">
                <h1>Mysite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="">입사지원서</a>
                    </li>
                    <li>
                        <a href="">게시판</a>
                    </li>
                    <li>
                        <a href="">갤러리</a>
                    </li>
                    <li>
                        <a href="">방명록</a>
                    </li>
                </ul>
            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>게시판</h2>
                    <ul>
                        <li>일반게시판</li>
                        <li>댓글게시판</li>
                    </ul>

                </div>
                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반게시판</h3>
                        <ul class="clearfix">
                            <li>홈</li>
                            <li>게시판</li>
                            <li>일반게시판</li>
                        </ul>
                    </div>
                    <div id="main-board">
                        <!-- 게시판 등록 -->
                        <form action="" mathod="get">
                            <div id="board-title">
                                <div class="title-group">
                                    <label for="nm" class="title">작성자</label>
                                    <input type="text" id="nm" name="" value="정우성">
                                </div>
                                <div class="title-group">
                                    <label for="cnt" class="title">조회수</label>
                                    <input type="text" id="cnt" name="" value="123">
                                </div>
                                <div class="title-group">
                                    <label for="date" class="title">작성일</label>
                                    <input type="text" id="date" name="" value="2025-04-14">
                                </div>
                            </div>
                            <div id="write-title">
                                <div class="write-group">
                                    <label for="tt" class="write">제목</label>
                                    <input type="text" id="tt" name="" value="여기에는 글제목이 출력됩니다." >
                                </div>
                            </div>

                            <textarea class="write-text">
                                여기에는 본문내용이 출력됩니다.<br>
                                여기에는 본문내용이 출력됩니다.<br>
                                여기에는 본문내용이 출력됩니다.<br>
                                여기에는 본문내용이 출력됩니다.<br>
                                여기에는 본문내용이 출력됩니다.<br>
                                여기에는 본문내용이 출력됩니다.<br>
                                여기에는 본문내용이 출력됩니다.<br>
                            </textarea>

                            <div class="btn-gr-ed">
                                <button><a href="">수정</a></button>
                                <button><a href="">취소</a></button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 김나라. All right reserved
                </p>
            </div>


        </div>
    </body>
</html>