<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite</title>
        
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/user.css">
    </head>
    <body>
        <div class="wrap">
            <div id="header" class="clearfix">
                <h1>Mysite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="">입사지원서</a>
                    </li>
                    <li>
                        <a href="">게시판</a>
                    </li>
                    <li>
                        <a href="">갤러리</a>
                    </li>
                    <li>
                        <a href="">방명록</a>
                    </li>
                </ul>
            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>회원</h2>
                    <ul>
                        <li>회원정보</li>
                        <li>로그인</li>
                        <li>회원가입</li>
                    </ul>

                </div>
                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>로그인</h3>
                        <ul class="clearfix">
                            <li>홈</li>
                            <li>회원</li>
                            <li>로그인</li>
                        </ul>
                    </div>
                    <div id="main-assign">
                        <div id="form">
                            <form action="" mathod="get">
                                <div class="form-group">
                                    <label for="id" class="title">아이디</label>
                                    <input type="text" id="id" name="" value="" placeholder="아이디를 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="pw" class="title">패스워드</label>
                                    <input type="password" id="pw" name="" value="" placeholder="비밀번호를 입력하세요">
                                </div>
                                <div class="btn-group">
                                <button type="submit">로그인</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 김나라. All right reserved
                </p>
            </div>


        </div>
    </body>

</html>