@charset "UTF-8";

/* 초기화 */
body, div, 
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, ol,
form, input, select, table, textarea, button, fieldset, legend,
p, th, td, tr {
    margin: 0px; padding: 0px;
}
input, select, button, textarea{
    font-family: "맑은 고딕";
    font-size: 15px;
}

body{
    background-color: #808080;
    font-family: "맑은 고딕";
    font-size: 12px;
}
.wrap{
    background-color: #ffffff;
    width: 600px;
}
.wrap h3{
    font-size: 18px;
    font-weight: bold;
}

/* 공통 */
.wrap .form-group{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.f-title{
    vertical-align: top;
    display: inline-block;
    width: 120px;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 5px 0px 10px 0px;
}
ul>li{
    float: left;
}
ul>li::after{
    content: ">";
    padding: 0px 5px 0px 5px;
}
ul>li:last-child::after{
    content: none;
}

/* 아이디 */
/* 패스워드 */
/* 이름 */
/* 이동통신사 */
/* 주소 */
.form-group #id,
.form-group #pw,
.form-group #nm,
.form-group #telecom{
    width: 180px;
}

/* 주소 */
#adr{
    width: 180px; 
    margin-bottom: 5px;
}
#adr2{
    width: 400px; 
}
a{
    text-decoration: none;
}

/* 혈액형, 나이, 취미 */
.form-group input[type="radio"],
.form-group input[type="checkbox"]{
    margin-right: 10px;
}
.form-group span~label{
    font-size: 15px;
}

/* 자기소개 */
textarea{
    width: 402px; 
    height: 100px;
    vertical-align: top;
}

/* 버튼두개 */
.btn-gr{
    text-align: center;
    padding-bottom: 10px;
}
.btn-gr button{
    width: 120px;
    height: 30px;
}

/* clearfix */
.clearfix::before,
.clearfix::after{
    display: block;
    content: "";
    line-height: 0;
}
.clearfix::after {clear: both;}
