<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite</title>
        
        <link rel="stylesheet" href="../../assets/css/reset.css">
        <link rel="stylesheet" href="../../assets/css/mysite.css">
        <link rel="stylesheet" href="../../assets/css/guest.css">
    </head>
    <body>
        <div class="wrap">
            <div id="header" class="clearfix">
                <h1>Mysite</h1>
                <ul class="clearfix">
                    <li>
                        <a href="">로그인</a>
                    </li>
                    <li>
                        <a href="">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="nav">
                <ul class="clearfix">
                    <li>
                        <a href="">입사지원서</a>
                    </li>
                    <li>
                        <a href="">게시판</a>
                    </li>
                    <li>
                        <a href="">갤러리</a>
                    </li>
                    <li>
                        <a href="">방명록</a>
                    </li>
                </ul>
            </div>

            <div id="content2" class="clearfix">
                <div id="aside">
                    <h2>방명록</h2>
                    <ul>
                        <li>일반방명록</li>
                        <li>ajax방명록</li>
                    </ul>

                </div>
                <div id="main">
                    <div id="main-head" class="clearfix">
                        <h3>일반방명록</h3>
                        <ul class="clearfix">
                            <li>홈</li>
                            <li>방명록</li>
                            <li>일반방명록</li>
                        </ul>
                    </div>
                    <div id="main-book">
                        <form action="" mathod="get">
                            <table id="table1">
                                    <col style="width: 70px;">
                                    <col style="width: 330x;">
                                    <col style="width: 70px;">
                                    <col style="width: 330px;">
                                <tr>
                                    <td><label for="nm">이름</label></td>
                                    <td>
                                        <input type="text" id="nm" name="" value="">
                                    </td>
                                    <td><label for="pw">패스워드</label></td>
                                    <td>
                                        <input type="password" id="pw" name="" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <textarea></textarea>
                                    </td>
                                    <!-- <td></td>
                                    <td></td>
                                    <td></td> -->
                                </tr>
                                <tr id="button">
                                    <td colspan="4">
                                        <button type="submit">등록</button>
                                    </td>
                                    <!-- <td></td>
                                    <td></td>
                                    <td></td> -->
                                </tr>
                            </table>
                            <table id="table2">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                            <table id="table3">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>

                        </form>
                    </div>
                </div>

            </div>
            
            <div id="footer">
                <p>
                    Copyright ⓒ 2025 김나라. All right reserved
                </p>
            </div>


        </div>
    </body>

</html>